<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel = "icon" href = "img/icon.png" type = "image/x-icon">

    <!-- CDN TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- NAVBAR -->
    <div class="bg-white w-full mt-[75px]">
        <div class="bg-white/80 shadow fixed top-0 left-0 right-0 z-10 backdrop-blur-md">
            <div class="container mx-auto px-4">
                <div class="flex items-center justify-between py-4"> 
                    <a href="index.php" class="flex items-center hover:scale-105 duration-200 delay-100">
                        <img src="img/logo.png" alt="logo website" class="scale-110">
                        <h1 class="text-violet-700 text-xl mx-2 font-regular">Dashboard</h1>
                    </a>
                    <a href="logout.php" class="text-white bg-red-500 shadow-md border text-sm font-normal px-5 py-2 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-red-400">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF NAVBAR -->
    
    <!-- MAIN SECTION -->
    <div class="flex flex-row h-screen">
        <div class="flex flex-col bg-violet-600 w-1/6 -m-2 shadow-lg">
            <a href="index.php" class="flex flex-row items-center justify-center space-x-2 py-6">
                <div class="w-1/5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full text-white scale-110" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                      </svg>
                </div>
                <h1 class="text-xl text-white">Admin</h1>
            </a>

            <a href="index.php" class="bg-white py-6 ml-2 text-center text-md text-violet-600 font-medium hover:bg-violet-800 hover:text-white duration-300 delay-100">
                <p>Data Listrik</p>
            </a>

            <a href="info_akun.php" class="bg-violet-600 py-6 ml-2 text-center text-md text-white hover:bg-violet-800 hover:text-white duration-300 delay-100">
                <p>Info Akun</p>
            </a>

            <a href="spek_lampu.php" class="bg-violet-600 py-6 ml-2 text-center text-md text-white hover:bg-violet-800 hover:text-white duration-300 delay-100">
                <p>Spesifikasi Lampu</p>
            </a>
        </div>

        <!-- DATA PENGGUNAAN LISTRIK -->
        <div class="flex flex-col w-4/5 mx-10 items-center p-14">
            <div class="invisible" name="table_temp">
                <table>
                    <tr>
                        <!-- <td name="chart_label">0</td>
                        <td name="chart_label">1</td>
                        <td name="chart_label">2</td>
                        <td name="chart_label">3</td>
                        <td name="chart_label">4</td>
                        <td name="chart_label">5</td> -->
                        DATA_CHART_LABELS
                    </tr>
                    <tr>
                        <!-- <td name="chart_value">0.2</td>
                        <td name="chart_value">0.5</td>
                        <td name="chart_value">0.1</td>
                        <td name="chart_value">0.4</td>
                        <td name="chart_value">0.3</td>
                        <td name="chart_value">0.2</td> -->
                        DATA_CHART_VALUES
                    </tr>
                </table>
            </div>
            
            <!-- MODE DAN FILTER -->
            <form action="#" method="POST" enctype="multipart/form-data" class="flex flex-row place-items-start space-x-6">
                <label for="tmode_tampilan" class="block">
                    <select name="tmode_tampilan" id="tmode_tampilan" class="py-2 px-3 bg-white border shadow-sm border-slate-300 focus:outline-none focus:border-violet-600 focus:ring-violet-600 block w-full text-sm rounded-md focus:ring-1">
                        <option value="diagram_batang">Diagram Batang</option>
                        <option value="tabel">Tabel</option>
                    </select>
                </label>

                <label for="tfilter_waktu" class="block">
                    <select name="tfilter_waktu" id="tfilter_waktu" class="py-2 px-3 bg-white border shadow-sm border-slate-300 focus:outline-none focus:border-violet-600 focus:ring-violet-600 block w-full text-sm rounded-md focus:ring-1">
                        <option value="day">Harian</option>
                        <option value="week">Mingguan</option>
                        <option value="month">Bulanan</option>
                    </select>
                </label>

                <div>
                    <button name="btn-filter-waktu" id="btn-filter-waktu" type="submit" class="inline-flex justify-center py-2 px-4 w-full border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
                        OK
                    </button>
                </div>

            </form>

            <!-- CHART -->
            <div class="flex flex-col w-full items-center ">
                <div class="flex flex-row w-full items-center">
                    <div class="text-sm mr-4 font-medium text-violet-700">Penggunaan Listrik (kWh)</div>
                    <div class="lg:w-9/12 md:w-9/12 sm:w-fit  flex flex-col items-center">
                        <canvas class="my-4 w-full h-auto"  id="myChart"></canvas>                
                        <div class="text-sm mt-2 font-medium text-violet-700">Waktu (Jam)</div>
                    </div>
                </div>
            </div>
            <!-- END OF CHART -->
        </div>
    </div>
    <!-- END OF MAIN SECTION -->
    
    
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="templates/dashboard.js"></script>
</body>
</html>