<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel = "icon" href = "img/icon.png" type = "image/x-icon">

    <!-- CDN TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-50">
    <!-- NAVBAR -->
    <div class="bg-white w-full mt-[75px]">
        <div class="bg-white/80 shadow fixed top-0 left-0 right-0 z-10 backdrop-blur-md">
            <div class="container mx-auto px-4">
                <div class="flex items-center justify-between py-4"> 
                    <a href="#" class="flex items-center">
                        <h1 class="text-violet-600 text-xl mx-2">Dashboard Admin</h1>
                    </a>
                    <a href="logout.php" class="text-white bg-red-500 shadow-md border text-sm font-normal px-5 py-2 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-red-400">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF NAVBAR -->
    
    <!-- MAIN SECTION -->
    <div class="flex flex-row">
        <div class="flex flex-col bg-violet-500 w-1/6 mt-8 shadow-lg rounded-r-2xl">
            <a href="templates/dashboard.html" class="flex flex-row items-center justify-center space-x-4 py-6">
                <img src="img/default_profile.jpg" class="w-1/5 rounded-full" alt="gambar profile">
                <h1 class="text-2xl text-white">Admin</h1>
            </a>

            <a href="index.php" class="bg-white py-6 text-center hover:bg-violet-700 hover:text-white duration-150 delay-75">
                <p class="text-lg">Data Listrik</p>
            </a>

            <a href="info_akun.php" class="bg-violet-500 py-6 text-center hover:bg-violet-700 hover:text-white duration-150 delay-75">
                <p class="text-lg text-white">Info Akun</p>
            </a>

            <a href="spek_lampu.php" class="bg-violet-500 py-6 text-center hover:bg-violet-700 hover:text-white duration-150 delay-75">
                <p class="text-lg text-white">Spesifikasi Lampu</p>
            </a>
        </div>
        <div class="flex flex-col  w-4/5 shadow-md mx-10 mt-8 items-center rounded-lg bg-white p-14">
            <div class="invisible">
                <table name="table_temp">
                    <tr>
                        <!-- <td name="chart_label">0</td>
                        <td name="chart_label">1</td>
                        <td name="chart_label">2</td>
                        <td name="chart_label">3</td>
                        <td name="chart_label">4</td>
                        <td name="chart_label">5</td> -->
                        DATA_CHART_LABELS
                    </tr>
                    <tr>
                        <!-- <td name="chart_value">0.2</td>
                        <td name="chart_value">0.5</td>
                        <td name="chart_value">0.1</td>
                        <td name="chart_value">0.4</td>
                        <td name="chart_value">0.3</td>
                        <td name="chart_value">0.2</td> -->
                        DATA_CHART_VALUES
                    </tr>
                </table>
            </div>
            <div class="lg:w-9/12 md:w-9/12 sm:w-fit">
                <canvas class="my-4 w-full h-auto" id="myChart"></canvas>
            </div>
        </div>
    </div>
    <!-- END OF MAIN SECTION -->
    
    

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="dashboard.js"></script>
</body>
</html>