<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spesifikasi Lampu</title>
    <link rel = "icon" href = "img/icon.png" type = "image/x-icon">

    <!-- CDN TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <!-- NAVBAR -->
    <div class="bg-white w-full mt-[75px]">
        <div class="bg-white/80 shadow fixed top-0 left-0 right-0 z-10 backdrop-blur-md">
            <div class="container mx-auto px-4">
                <div class="flex items-center justify-between py-4"> 
                    <a href="index.php" class="flex items-center hover:scale-105 duration-200 delay-100">
                        <img src="img/logo.png" alt="logo website" class="scale-110">
                        <h1 class="text-violet-700 text-xl mx-2 font-regular">Dashboard</h1>
                    </a>
                    <a href="logout.php" class="text-white bg-red-500 shadow-md border text-sm font-normal px-5 py-2 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-red-400">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF NAVBAR -->

    <!-- MAIN SECTION -->
    <div class="flex flex-row h-screen">
        <div class="flex flex-col bg-violet-600 w-1/6 -m-2 shadow-lg">
            <a href="index.php" class="flex flex-row items-center justify-center space-x-2 py-6">
                <div class="w-1/5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full text-white scale-110" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                      </svg>
                </div>
                <h1 class="text-xl text-white">Admin</h1>
            </a>

            <a href="index.php" class="bg-violet-600 py-6 ml-2 text-center text-md text-white hover:bg-violet-800 hover:text-white duration-300 delay-100">
                <p>Data Listrik</p>
            </a>

            <a href="info_akun.php" class="bg-violet-600 py-6 ml-2 text-center text-md text-white hover:bg-violet-800 hover:text-white duration-300 delay-100">
                <p>Info Akun</p>
            </a>

            <a href="spek_lampu.php" class="bg-white py-6 ml-2 text-center text-md text-violet-600 font-medium hover:bg-violet-800 hover:text-white duration-300 delay-100">
                <p>Spesifikasi Lampu</p>
            </a>
        </div>

        <div class="flex flex-col w-4/5 mx-10 mt-8 items-center p-10">
            <!-- <div class="flex flex-col items-center">
                <div class="flex flex-col mt-6 p-16 rounded-md border">
                    <div class="flex flex-row">
                        <p class="w-28">Jenis</p>
                        <p class="mr-2">:</p>
                        <p>LED Capsule</p>
                    </div>
        
                    <div class="flex flex-row">
                        <p class="w-28">Daya Lampu</p>
                        <p class="mr-2">:</p>
                        <p>40 watt</p>
                    </div>
    
                    <div class="flex flex-row">
                        <p class="w-28">Masa Pakai</p>
                        <p class="mr-2">:</p>
                        <p>20000 jam</p>
                    </div>
    
                    <div class="flex flex-row">
                        <p class="w-28">Lumen</p>
                        <p class="mr-2">:</p>
                        <p>3480</p>
                    </div>
    
                    <div class="flex flex-row">
                        <p class="w-28">Volt</p>
                        <p class="mr-2">:</p>
                        <p>220V - 240V</p>
                    </div>
    
                    <div class="flex flex-row">
                        <p class="w-28">Warna Cahaya</p>
                        <p class="mr-2">:</p>
                        <p>Putih</p>
                    </div>
                </div>
    
                <a href="ubah_lampu.php?id_ubah=' . $row['id_lampu'] . '" class="mt-6 w-5/6">
                    <button type="button" class="bg-violet-600 w-full px-4 py-2 rounded-md text-white hover:bg-violet-800 duration-150 delay-75">Ubah</button>
                </a>
            </div> -->
            DATA_LAMPU
        </div>
    </div>
    <!-- END OF MAIN SECTION -->


    
</body>
</html>